<div class="container vh-100 d-flex justify-content-center align-items-center">
  <div class="card shadow-lg p-5" style="max-width: 60%; width: 100%;">
    <div class="text-center">
      <h1 class="mb-4">Evaluación Parcial 2</h1>
      <hr class="my-4">
      <h3>Tema</h3>
      <p class="mb-4">Sistema de Gestión de Talleres</p>
      <h3>Nombre del estudiante</h3>
      <p class="mb-4">Eduardo Alvarado</p>
      <h3>Materia</h3>
      <p class="mb-4">Desarrollo Web</p>
      <h3>Fecha</h3>
      <p class="mb-4">18 de septiembre del  2024</p>
      
    </div>
  </div>
</div>
