<div class="card my-5">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-end mb-4">
        <h3 class="mb-0">
          {{ titulo }}
          <!--Interpolacion
            sirve para enviar datos desde el .ts hacia el html
            -->
        </h3>
      </div>
      <form [formGroup]="frm_Inscripcion" (ngSubmit)="grabar()">
        <div class="row">
          <div class="form-group mb-3">
            <label class="form-label" for="Participante">Participante</label>
            <input formControlName="Participante" type="text" class="form-control" id="Participantes" placeholder="Ingrese el Participante" />
            <div *ngIf="frm_Inscripcion.get('Participante').invalid && frm_Inscripcion.get('Participante').touched">
              <small *ngIf="frm_Inscripcion.get('Participante').hasError('required')" style="color: red">El Participante es requerido</small>
            </div>
          </div>
          <div class="form-group mb-3">
            <label class="form-label" for="Taller">Taller</label>
            <input formControlName="Taller" type="text" class="form-control" id="Taller" placeholder="Seleccione el Taller" />
            <div *ngIf="frm_Inscripcion.get('Taller').invalid && frm_Inscripcion.get('Taller').touched">
              <small *ngIf="frm_Inscripcion.get('Taller').hasError('required')" style="color: red">El Taller es requerido</small>
            </div>
          </div>
          <div class="form-group mb-3">
            <label class="form-label" for="Estado">Estado</label>
            <input type="text" formControlName="Estado" class="form-control" id="Estado" />
            <div *ngIf="frm_Inscripcion.get('Estado').invalid && frm_Inscripcion.get('Estado').touched">
              <small *ngIf="frm_Inscripcion.get('Estado').hasError('required')" style="color: red">La estado del inscripcion es requerido</small>
            </div>
          </div>
          <div class="d-grid mt-3">
            <button type="submit" class="btn btn-primary" [disabled]="frm_Inscripcion.invalid">Grabar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  
  <!--
    IMPORTAR => FORMSMODULE  APP.MODULE.TS ||  NUEVOPROVEEDOR.COMPONENT.TS
    
    
    
    
    
    INTRPOLACION => DESDE EL TS AL HTML
    {{ }} 
    INSCRIPCIONS => EJECUTAR FUNCIONES EN EL TS
    ()
    DATA BINDING => DESDE EL HTML AL TS
    []
    TWO WAY BIDING => ENVIADO DE DATOS DESDE EL HTML AL TS Y DESDE EL TS AL HTML
    [()]
    -->
  


