<div class="card my-5">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-end mb-4">
        <h3 class="mb-0">
          {{ titulo }}
          <!--Interpolacion
            sirve para enviar datos desde el .ts hacia el html
            -->
        </h3>
      </div>
      <form [formGroup]="frm_Inscripcion" (ngSubmit)="grabar()">
        <div class="row">
          <div class="form-group mb-3">
            <label class="form-label" for="Participantes_participantes_id">Participantes_participantes_id</label>
            <input formControlName="Participantes_participantes_id" type="text" class="form-control" id="Participantes_participantes_id" placeholder="Ingrese el Participantes_participantes_id del Inscripcion" />
            <div *ngIf="frm_Inscripcion.get('Participantes_participantes_id').invalid && frm_Inscripcion.get('Participantes_participantes_id').touched">
              <small *ngIf="frm_Inscripcion.get('Participantes_participantes_id').hasError('required')" style="color: red">El participantes_participantes_id es requerido</small>
            </div>
          </div>
          <div class="form-group mb-3">
            <label class="form-label" for="Talleres_talleres_id">Talleres_talleres_id</label>
            <input formControlName="Talleres_talleres_id" type="text" class="form-control" id="Talleres_talleres_id" placeholder="Ingrese el Talleres_talleres_id del inscripcion" />
            <div *ngIf="frm_Inscripcion.get('Talleres_talleres_id').invalid && frm_Inscripcion.get('Talleres_talleres_id').touched">
              <small *ngIf="frm_Inscripcion.get('Talleres_talleres_id').hasError('required')" style="color: red">El Talleres_talleres_id del inscripcion es requerido</small>
            </div>
          </div>
          <div class="form-group mb-3">
            <label class="form-label" for="Estado">Estado</label>
            <input type="date" formControlName="Estado" class="form-control" id="Estado" />
            <div *ngIf="frm_Inscripcion.get('Estado').invalid && frm_Inscripcion.get('Estado').touched">
              <small *ngIf="frm_Inscripcion.get('Estado').hasError('required')" style="color: red">La estado del inscripcion es requerido</small>
            </div>
          </div>
          <div class="d-grid mt-3">
            <button type="submit" class="btn btn-primary" [disabled]="frm_Inscripcion.invalid">Grabar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  
  <!--
    IMPORTAR => FORMSMODULE  APP.MODULE.TS ||  NUEVOPROVEEDOR.COMPONENT.TS
    
    
    
    
    
    INTRPOLACION => DESDE EL TS AL HTML
    {{ }} 
    INSCRIPCIONS => EJECUTAR FUNCIONES EN EL TS
    ()
    DATA BINDING => DESDE EL HTML AL TS
    []
    TWO WAY BIDING => ENVIADO DE DATOS DESDE EL HTML AL TS Y DESDE EL TS AL HTML
    [()]
    -->
  


